body {
    background-color: #1e1e1e;
    color: white;

    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    min-width: 300px;
    width: 350px;
    margin-right: 20px;
}

/* <weight>: Use a value from 300 to 700
 <uniquifier>: Use a unique and descriptive class name
*/
.space-grotesk300 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    text-align: center;
}

.container {
    /*Min WIdth?*/
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    text-align: center;
}

.plain {
    color: white;
}

p {
    margin: 0;
}

.login_details {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    text-align: center;
    justify-content: center;
}

.growable {
    flex-grow: 1;
}

.error {
    color: red;
}

.chunky {
    padding: 2px;
    border-radius: 5px;
    border-color: transparent;
}

.tiny_box {
    max-width: 60px;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    font-size: medium;
    cursor: pointer;
    transition: 0.2s;
}

.frow {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    flex-grow: 1;
    justify-content: space-between;
    align-self: center;
    width: 90%;
}

.button_row {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: space-between;
}

.log {
    width: 230px;
    max-width: 250px;
}

.detail_region {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.region_header {
    margin-bottom: 0;
}

.fine_print {
    font-size: small;
    color: #bebebe;
}

.detail_region {
    border: 1px solid gray;
}

.deactivated {
    display: none;
}

.refresh {
    color: aquamarine;
}

.together {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 0.3em;
}

.headline {
    color: rgb(230, 10, 230);
}

.scan_off {
    background-color: blueviolet;
    color: white;
}

.scan_on {
    background-color: blueviolet;
    color: white;
}

.scan_off:hover {
    background-color: green;
}

.scan_on:hover {
    background-color: red;
}

.no_membership {
    color: #bebebe;
}

.nice_hover {
    color: white;
    background-color: blueviolet;
}

.nice_hover:hover {
    background-color: rgb(3, 136, 92);
}

.purp {
    background-color: blueviolet;
    color: white;
}

.purp:hover {
    background-color: rgb(3, 136, 92);
}

.gromp>h4 {
    margin-bottom: 0.1em;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

input[type=radio] {
    margin: 0;
}

button {
    cursor: pointer;
}